
@media (max-width: 61.99em) {
    header.top nav > div > div > div > ul.main {
        background-color: white;
        height: auto;
        padding: 0;
        z-index: 2;
        top: 72px;
        min-height: calc(100vh - 72px);
    }

    #main-nav > li > div > div > ul
    {
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 200px;
        transition: max-height 0s linear .4s;
    }
}

